

body{
    background-color: black;
    color: white;
}
/* linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
.header-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.text{
    color: white;
}
.header-content{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item, .list-items{
    display: flex;
    align-items: center;
    gap : 24px;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.item{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.active-link{
    padding: 1rem  1.5rem;
    background-color: rgb(230, 83, 60);
    border-radius: 2.875rem;
    border: none;
}
.border{
    border : 2px solid rgb(230, 83, 60);
}

/* banner section */
.banner{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11.125rem;
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    color: white;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-description{
    margin-bottom: 28px;
}
.common-btn{
    padding: 16px 40px 16px 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
    border-radius: 42px;
}
.banner-btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px ;
    padding: 16px 40px 16px 40px;
    background-color: transparent;
    margin-left: 12px;
    color: white;
}

/* habit section */
.banner{
    max-width: 1060px;
    margin: 0 auto;
    color: white;
}
.habit-title{
   text-align: center;
   font-size: 3rem;
   font-weight: 900;
  
}
.habit-description{
    margin-top: -16px;
    text-align: center;
}

.habit-img{
    border-radius: 50%;
    align-items: center;
}
.moment-title{
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
}
.moment-description{
    text-align: center;
}
.habit-content img{
    margin-left: 40px;
    align-items: center;
}
.habit-grid{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    color: white;
}

/* Run an Extra Mile Easily */
.run{
    max-width: 1060px;
    margin: 120px auto;
    background: rgb(34, 34, 34);
}
.content-run{
    max-width: 50%;
}
.run-img{
    max-width: 50%;
}
.run-img img{
    width: 100%;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.run-title{
    font-weight: 900;
    font-size: 3rem;
}
.run-padding{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer */
.footer-grid{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap : 2rem;
}
.logo-title{
    color: rgb(230, 83, 60);
    font-weight: 700;
    font-size: 4.375rem;
}
.common-get-start{
    font-weight: 700;
    font-size: 2rem;
    
}
.footer-column-one{
    font-size: 1.4375rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.logo-content{
    margin-top: -2rem;
}
footer{
    background: rgba(255, 255, 255, 0.1);
}

/* our team */
.our-team{
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.our-team{
    width: 100%;
}
.team-container img{
    width: 326.67px;
    height: 272px;
    filter: brightness(60%);
    border-radius: 16px;
}
.team-content{
    position: relative;
    top: -130px;
    left: 40px;
}
.team{
    padding: 20px;
    margin-bottom: 4px;
}
.team-bg{
    background: rgba(255, 255, 255, 0.1);
}





/* mobile responsive  */
@media screen and (max-width: 576px) {
    .banner, .run-padding{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .banner-description{
        display: flex;
        justify-content: start;
    }
    .list-items{
       display: none;
    }
    .habit-grid, .footer-grid, .our-team{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-content img{
        margin-left: 100px;
    }
    .content-run{
        max-width: 100%;
    }
    .run-img{
        max-width: 100%;
    }
    .team-container img{
        margin-left: 20px;
    }
}
