


.bg{
    background-color: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.header-title{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}
.text{
    color: white;
}
.header-content{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item, .list-items{
    display: flex;
    align-items: center;
    gap : 24px;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.item{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.active-link{
    padding: 1rem  1.5rem;
    background-color: rgb(230, 83, 60);
    border-radius: 2.875rem;
    border: none;
}
.border{
    border : 2px solid rgb(230, 83, 60);
}

/* banner section */
.banner{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11.125rem;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}
.banner-description{
    margin-bottom: 28px;
}
.common-btn{
    padding: 16px 40px 16px 40px;
    background-color: rgb(230, 83, 60);
    color: white;
    border: none;
    border-radius: 42px;
}
.banner-btn{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px ;
    padding: 16px 40px 16px 40px;
    background-color: transparent;
    margin-left: 12px;
}

/* habit section */
.banner-content{
    max-width: 1060px;
    margin: 0 auto;
}
.habit-title{
   text-align: center;
   font-size: 3rem;
   font-weight: 900;
  
}
.habit-description{
    margin-top: -16px;
    text-align: center;
}

.habit-img{
    border-radius: 50%;
    align-items: center;
}
.moment-title{
    font-weight: 600;
    font-size: 1.125rem;
    text-align: center;
}
.moment-description{
    text-align: center;
}
.habit-content img{
    margin-left: 40px;
    align-items: center;
}
.habit-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

/* mobile responsive  */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        align-items: center;
    }
    .list-items{
       display: none;
    }
    .habit-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-content img{
        margin-left: 100px;
    }
}
